*.iml
*.ipr
*.iws
.idea
*/*.log
*/*/*.log
*/*/*.log.*
*/*/*log.txt
*log.txt
buildNumber.properties
**/target/
*/*/target
*.DS_Store
*.classpath
*.settings
*.project
**/.idea
**/.dbscript
.dbscript
**/*.iml
ChatServer_log.txt
ChatServer/application.properties
